:root {
  --primary-red: #fee2e2;
  /* bg-red-100 */
  --secondary-red: #ef4444;
  /* text-red-500 */
  --primary-green: #d1fae5;
  /* bg-green-100 */
  --secondary-green: #10b981;
  /* text-green-500 */
  --primary-gray: #f3f4f6;
  /* bg-gray-100 */
  --secondary-gray: #6b7280;
  /* text-gray-500 */
}

.bg-custom-red-light {
  background-color: var(--primary-red);
}

.text-custom-red {
  color: var(--secondary-red);
}

.bg-custom-green-light {
  background-color: var(--primary-green);
}

.text-custom-green {
  color: var(--secondary-green);
}

.bg-custom-gray-light {
  background-color: var(--primary-gray);
}

.text-custom-gray {
  color: var(--secondary-gray);
}

/* Custom progress bar styles */
.progress-bar-stress::-webkit-progress-value {
  background-color: #f59e0b;
}

/* Amber */
.progress-bar-stress::-moz-progress-bar {
  background-color: #f59e0b;
}

.progress-bar-stress {
  accent-color: #f59e0b;
}

.progress-bar-energy::-webkit-progress-value {
  background-color: #10b981;
}

/* Green */
.progress-bar-energy::-moz-progress-bar {
  background-color: #10b981;
}

.progress-bar-energy {
  accent-color: #10b981;
}

.progress-bar-concentration::-webkit-progress-value {
  background-color: #10b981;
}

/* Green */
.progress-bar-concentration::-moz-progress-bar {
  background-color: #10b981;
}

.progress-bar-concentration {
  accent-color: #10b981;
}

.progress-bar-quality::-webkit-progress-value {
  background-color: #10b981;
}

/* Green */
.progress-bar-quality::-moz-progress-bar {
  background-color: #10b981;
}

.progress-bar-quality {
  accent-color: #10b981;
}

.progress-bar-normal::-webkit-progress-value {
  background-color: #000;
}

/* Black */
.progress-bar-normal::-moz-progress-bar {
  background-color: #000;
}

.progress-bar-normal {
  accent-color: #000;
}

.progress-bar-critical::-webkit-progress-value {
  background-color: #ef4444;
}

/* Red */
.progress-bar-critical::-moz-progress-bar {
  background-color: #ef4444;
}

.progress-bar-critical {
  accent-color: #ef4444;
}

/* Custom circular progress for "Salud del Stock" */
.circular-progress {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: conic-gradient(#ef4444 57%, #e5e7eb 0%);
  /* Red for 57%, light gray for rest */
}

.circular-progress::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}

.circular-progress-inner {
  position: relative;
  z-index: 1;
  font-size: 1.25rem;
  /* text-xl */
  font-weight: 600;
  /* font-semibold */
  color: #1f2937;
  /* text-gray-800 */
}

.circular-progress-label {
  position: absolute;
  bottom: -20px;
  /* Adjust as needed */
  font-size: 0.75rem;
  /* text-xs */
  color: #6b7280;
  /* text-gray-500 */
  text-align: center;
  width: 100%;
}
